/* Google Font Inter used for <p> */
@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
