<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="templates_static/style.css" />
  <title>Resturant Register</title>
</head>
<body>
  
  <header>
    <nav>
      <!-- Coonect to index page which will be the main page -->
      <a href="/">Back to Home</a>
    </nav>
  </header>

  <div>
    <div>
      <div>
        <div>
          <h2>profile</h2>
          <p>Please eneter your information to register</p>
        </div>
      </div>
      <form class="login-form" action="/registerAuth" method="POST">
        <input 
          type="text"
          name="first_name"
          placeholder="First Name"
          required
        />
        <input 
          type="text"
          name="last_name"
          placeholder="Last Name"
          required
        />
        <input type="text" name="email" placeholder="Email" required />
        <input 
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input class="submit_button" type="submit" value="Register" />
        <p class="message"> 
          Already have an account? <a href="/login">Login</a>
        </p>
      </form>
    </div>
  </div>
</body>
</html>
